/*
 Theme Name:   ISAcademia Demo
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  ISAcademia Child Theme
 Author:       Jérôme Clerc
 Author URI:   http://www.equinoxemis.ch
 Template:     isacademia
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         is-academia, isa, demo
 Text Domain:  isa-demo
*/
/* ----- Header ----- */
header.site-header {
  background: ghostwhite;
  border-bottom: 1px solid lightgray;
}
header.site-header .site-title {
  margin: 0.5rem 0;
  padding: 1rem;
}
/* ----- Header Page ----- */
.page-header-title h1 {
  color: white;
  font-size: 2.3rem;
  line-height: 1;
  margin-top: 16rem;
  margin-left: 1.5rem;
  font-weight: bold;
}
.page-header-title h1 small {
  color: white;
}
.page-header-title.green-mint {
  background: #599589;
}
.page-header-title.orange {
  background: #d57960;
}
/* ----- Footer ----- */
footer {
  margin-bottom: 2rem;
}
footer h1 {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333333;
}
footer .footer-bloc {
  border-top: 1px solid #333333;
  margin: 0 1rem;
  padding-top: 0.5rem;
  font-size: 0.9rem;
}
footer .footer-bloc p {
  margin-bottom: 0.8rem;
}
footer .footer-bloc a {
  color: #599589;
}
footer .footer-bloc a:hover {
  text-decoration: underline;
}
/* ----- Main navigation ----- */
.main-navigation {
  position: relative;
}
.main-navigation .menu-mainmenu-container {
  position: absolute;
  right: 0;
  bottom: -120px;
}
.main-navigation .menu-mainmenu-container ul.menu .menu-item,
.main-navigation .menu-mainmenu-container ul.menu .current-menu-item {
  transition: all 300ms ease-out;
}
.main-navigation .menu-mainmenu-container ul.menu .menu-item a,
.main-navigation .menu-mainmenu-container ul.menu .current-menu-item a {
  font-size: 1.2rem;
}
.main-navigation .menu-mainmenu-container ul.menu .menu-item a {
  color: #333333;
}
.main-navigation .menu-mainmenu-container ul.menu .menu-item:hover {
  background: #85b6ac;
}
.main-navigation .menu-mainmenu-container ul.menu .current-menu-item {
  background: #599589;
}
.main-navigation .menu-mainmenu-container ul.menu .current-menu-item a {
  color: white;
}
.main-navigation .menu-mainmenu-container ul.menu .current-menu-item:hover {
  background: #85b6ac;
}
/* ----- Pages Side Menus ----- */
.widget_nav_menu {
  list-style-type: none;
  margin: 0;
  margin-top: 3.8rem;
}
.widget_nav_menu h2.widgettitle {
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1px solid #333333;
}
.widget_nav_menu ul {
  list-style-type: none;
  margin: 0;
}
.widget_nav_menu ul li {
  display: block;
  border-bottom: 1px solid #999999;
}
.widget_nav_menu ul li a {
  color: #333333;
}
/* ----- Page Body Content ----- */
.page-body-content h1 {
  font-size: 2.5rem;
  border-bottom: 1px solid #333333;
}
.page-body-content h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 2.5rem;
}
.page-body-content ul {
  margin-top: 1rem;
}
/* ----- Widget Cellules boutons ----- */
.btn-cell-wrapper {
  margin-bottom: 1rem;
}
.btn-cell-wrapper h1 {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 1rem 0;
}
.btn-cell-wrapper p {
  color: white;
  font-size: 1rem;
}
.btn-cell-wrapper a.button {
  padding: 0.8rem 2.5rem;
  margin: 0;
  font-size: 1rem;
}
.btn-cell-wrapper a {
  color: #497f72;
  text-decoration: underline;
}
.btn-cell-wrapper a:hover {
  color: #365f55;
}
.btn-cell-wrapper a.button {
  text-decoration: none;
}
.btn-cell-wrapper.green-mint {
  background: #599589;
}
.btn-cell-wrapper.green-mint a.button {
  color: #599589;
  background: white;
}
.btn-cell-wrapper.green-mint a.button:hover {
  background: #e6e6e6;
}
.btn-cell-wrapper.green-olive {
  background: #8a9877;
}
.btn-cell-wrapper.green-olive a.button {
  color: #8a9877;
  background: white;
}
.btn-cell-wrapper.green-olive a.button:hover {
  background: #e6e6e6;
}
.btn-cell-wrapper.purple {
  background: #785170;
}
.btn-cell-wrapper.purple a.button {
  color: #785170;
  background: white;
}
.btn-cell-wrapper.purple a.button:hover {
  background: #e6e6e6;
}
.btn-cell-wrapper.orange {
  background: #d57960;
}
.btn-cell-wrapper.orange a.button {
  color: #d57960;
  background: white;
}
.btn-cell-wrapper.orange a.button:hover {
  background: #e6e6e6;
}
.btn-cell-wrapper.gray {
  background: #8b98a0;
}
.btn-cell-wrapper.gray a.button {
  color: #8b98a0;
  background: white;
}
.btn-cell-wrapper.gray a.button:hover {
  background: #e6e6e6;
}
.btn-cell-wrapper.gray-light {
  background: #f9f9f9;
}
.btn-cell-wrapper.gray-light h1,
.btn-cell-wrapper.gray-light p {
  color: #182d28;
}
.btn-cell-wrapper.gray-light a.button {
  color: #f9f9f9;
  background: #8b98a0;
}
.btn-cell-wrapper.gray-light a.button:hover {
  background: #707f88;
}
.btn-cell-wrapper.padding-small {
  padding: 2.5rem 2rem;
}
.btn-cell-wrapper.padding-medium {
  padding: 2.5rem 2rem;
}
.btn-cell-wrapper.padding-large {
  padding: 2.5rem 2rem;
}
/* ----- Widget Display Datas ----- */
.lst-of-links ul {
  margin: 1rem 0 1rem 0;
}
.lst-of-links ul li a {
  color: #599589;
}
.lst-of-links ul li a:hover {
  text-decoration: underline;
}
/* ----- Widget Display HTML ----- */
.eqnx-list ul {
  list-style-type: none;
  margin: 0 0 1.5rem 1.5rem;
}
.eqnx-list ul li span {
  display: block;
  width: 100%;
  color: #666666;
  font-weight: bold;
}
.eqnx-list ul li a {
  color: #599589;
}
.eqnx-list ul li a:hover {
  color: #46756c;
  text-decoration: underline;
}
.eqnx-list ul li ul {
  margin: 0 0 0 2rem;
}
/* ----------------------------------------------------- */
/* ----- MEDIUM ---------------------------------------- */
/* ----------------------------------------------------- */
@media print, screen and (min-width: 40em) {
  /* ----- Header ----- */
  header.site-header .site-title {
    padding: 0.5rem;
  }
  /* ----- Main navigation ----- */
  .main-navigation .menu-mainmenu-container {
    bottom: -70px;
  }
  /* ----- Cellules boutons ----- */
  .btn-cell-wrapper {
    margin-bottom: 1.5rem;
  }
  .btn-cell-wrapper h1 {
    font-size: 1.8rem;
  }
  .btn-cell-wrapper p {
    font-size: 1rem;
    margin-bottom: 0.8rem;
  }
  .btn-cell-wrapper a.button {
    padding: 0.8rem 2rem;
    font-size: 1rem;
  }
  .btn-cell-wrapper.padding-small {
    padding: 1.8rem 2rem;
  }
  .btn-cell-wrapper.padding-medium {
    padding: 1.8rem 2rem;
  }
  .btn-cell-wrapper.padding-large {
    padding: 1.8rem 2rem;
  }
}
/* ----------------------------------------------------- */
/* ----- LARGE ----------------------------------------- */
/* ----------------------------------------------------- */
@media print, screen and (min-width: 64em) {
  /* ----- Header ----- */
  header.site-header .site-title {
    margin: 0.5rem 0;
    padding: 1rem;
  }
  /* ----- Main navigation ----- */
  .main-navigation {
    position: relative;
  }
  .main-navigation .menu-mainmenu-container {
    position: absolute;
    right: 0;
    bottom: -120px;
  }
  .main-navigation .menu-mainmenu-container ul.menu .menu-item,
  .main-navigation .menu-mainmenu-container ul.menu .current-menu-item {
    transition: all 300ms ease-out;
  }
  .main-navigation .menu-mainmenu-container ul.menu .menu-item a,
  .main-navigation .menu-mainmenu-container ul.menu .current-menu-item a {
    font-size: 1.2rem;
  }
  .main-navigation .menu-mainmenu-container ul.menu .menu-item a {
    color: #333333;
  }
  .main-navigation .menu-mainmenu-container ul.menu .menu-item:hover {
    background: #85b6ac;
  }
  .main-navigation .menu-mainmenu-container ul.menu .current-menu-item {
    background: #599589;
  }
  .main-navigation .menu-mainmenu-container ul.menu .current-menu-item a {
    color: white;
  }
  .main-navigation .menu-mainmenu-container ul.menu .current-menu-item:hover {
    background: #85b6ac;
  }
  /* ----- Cellules boutons ----- */
  .btn-cell-wrapper {
    margin-bottom: 2rem;
  }
  .btn-cell-wrapper h1 {
    font-size: 2.3rem;
  }
  .btn-cell-wrapper p {
    font-size: 1rem;
  }
  .btn-cell-wrapper a.button {
    padding: 0.8rem 2.5rem;
    font-size: 1rem;
  }
  .btn-cell-wrapper.padding-small {
    padding: 3.5rem 3rem;
  }
  .btn-cell-wrapper.padding-medium {
    padding: 4.5rem 4rem;
  }
  .btn-cell-wrapper.padding-large {
    padding: 5.5rem 5rem;
  }
  /* ----- Cellules image ----- */
  .img-cell-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center -2rem;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
